<div class="panel panel-default">
    <div class="panel-heading">
        Devenez un locataire
    </div>
    <div class="panel-body">
        <div class="container">

            <%= form_for @annouce, html: {multipart: true} do |f| %>
           <%= render 'shared/errorss' %>
            <div class="row">
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Categorie</label>
                            <%= f.select :categorie, [["mechanic","mechanic"], ["Appartement","Appartement"],
                            ["phones", "phones"]], id: "categorie",
                            prompt: "A sélectionner...", class: "form-control" %>
                        </div>
                    </div>


                </div>

            <div class="row">
                    <div class="form-group">
                        <label>Donnez un nom au l'annonce</label>
                        <%= f.text_field :title, placeholder: "Titre de l'annonce", class: "form-control" %>
                    </div>
                </div>

            <div class="row">
                    <div class="form-group">
                        <label>description</label>
                        <%= f.text_area :description, rows:4, placeholder: "Décrivez le décor, l'ambiance, ce qui se trouve à proximité, etc...",
                        class: "form-control" %>
                    </div>
                </div>

            <div class="row">
                    <div class="form-group">
                        <label>Adresse</label>
                        <%= f.text_field :address, placeholder: "Où est situé votre logement ?", class: "form-control" %>
                    </div>
                </div>
                <div class="row">

                       <div class="col-md-4">

                           <div class="form-group">

                                 <span class="btn btn-default btn-file">

                                 <i class = "fa fa-cloud-upload-alt"></i> Téléchargez vos photos !

                                 <%= file_field_tag "images[]", type: :file, multiple: true %>

                                 </span>

                           </div>

                       </div>

                 </div>

                 <div id="photos"><%= render 'photos/list' %></div>


            <div class="row">

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Prix t</label>
                        <div class="input-group">
                                <%= f.text_field :price, placeholder: "ex: 45 TND", class: "form-control" %>
                                <div class="input-group-addon">TND</div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="actions">
                      <%= f.submit "Je valide mon annonce", class: "btn btn-primary"%>
            </div>
            <% end %>

        </div>
    </div>
</div>
